/*wie kann man auf Bold Regular und so zeugreifen?*/
/*Allgemein*/
body{
    
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    margin: auto;
    font-size: 18px;
}

.Ueberschrift{
    margin-left: 50px;
    margin-top: 100px;
    padding-bottom: 20px;
    font-weight: 800;  
}

/*Header*/
#header{
    width: 100%;
}

nav{
    position: absolute;
    right: 0;
}
#Logo{
    
    width: 200px;
    margin-left: 0px;
}

/*Produktvorstellung*/  
.Rahmen{
    margin-left: 50px;
}

.Trennstrich{
    width: 400px;
}
#Warenkorb1 {
    padding: 20px;
    width: 70%;
    color: white;
    background-color: rgb(243, 122, 31);
    font-size: 20px;
    border: none;
}
.Slider{
    width: 50%;
    height: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
}

table{
    max-width: 100%;
}
#Produktslider{
    display: flex;
    flex-direction: row;
}
.Text{
    padding-top: 50px;
    padding-left: 75px;
}

/*Technische Details*/  
#TechnischeDetails{
    margin-left: 50px;
    width: 92%;
}
#TechnischeDetails td{
    width: 50%;
}
#TechnischeDetails table{
    border: none;
}
#TechnischeDetails td p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Grau{
    background-color: rgb(237, 237, 237);
}

/*Eigenschaften*/  

.Eigenschaften{
    width: 90%;
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
}


/*.SliderEigenschaftenText{
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
}*/

#EigenschaftenDiv{
    display: flex;
    flex-direction: row; 
}
.Sliderfix{
    width: 50px;
    height: 30px;
}



/*Banner*/ 

.Banner{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: larger;
    width:100%;
    background-color: rgb(243, 122, 31);
    padding-top: 50px;
    padding-bottom: 50px;
}
#Warenkorb2 {
    padding: 20px;
    width: 50%;
    color:rgb(243, 122, 31) ;
    background-color: white;
    font-size: 20px;
    border: none;
}

/*Warum Stihl*/  

.WarumStihlItem{
    width: 33%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.WarumStihl{
    flex-direction: row;
    display: flex;
    width: 100%;
}

.Icon{
    width: 35%;
    align-items: center;
    padding-bottom: 120px; 
    
}
.Icon:hover{
    transform: scale(1.5);
}

.Fett{
    font-size: 25px;
   
}

/*Schlussbild*/  
#Schluss{
    width: 100%;
}

/*Footer*/  
.Footer{
    width: 100%;
    height: 100px;
}
.Footer td{
    width: 20%;
    text-align: center;
   
}


/*RESPONSIVE DESIGN*/

/*Smartphones*/
@media only screen and (max-width: 760px) {

    /*Header*/
    #header img{
        object-fit: cover;
    }
    .HeaderDiv img{
        object-fit: cover;
        width: 100%;
        height: 100vh; /*75 für Desktop kopieren*/
        
    }
   /*Logo*/
    #Logo{
    
        width: 150px;
        margin-left: 0px;
    }
    /*Produktvorstellung*/
    .Rahmen{
        margin-left: 0px;
    }
    .Slider{
        width: 100%;
        height: 70%;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .Text{
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
    }
    #Produktslider{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .Trennstrich{
        max-width: 100%;
    }


/*Warum*/
    .WarumStihlItem{
        width: 100%;
    }
    .WarumStihl{
        flex-direction: column;
        display: flex;
        width: 100%;
    }

/*Eigenschaften*/
    .Eigenschaften{
        width: 100%;
        height: 50%;
        margin-top: 50px;
        margin-left: 0px;
    }
    #TechnischeDetails td p {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
/*Technische Details*/  
    #TechnischeDetails{
    margin-left: 0px;
    font-size: smaller;
    width: 100%;
  
    }
}


/*Desktop*/   
@media only screen and (min-width: 1280px) {
    
}