/*wie kann man auf Bold Regular und so zeugreifen?*/
/*Allgemein*/
body{
    
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    margin: auto;
    font-size: 18px;
}

.Ueberschrift{
    margin-left: 50px;
    margin-top: 100px;
    padding-bottom: 20px;
    font-weight: 800;  
}

/*Header*/
#header{
    width: 100%;
    
}

nav{
    position: absolute;
    right: 0;
}
#Logo{
    
    width: 200px;
    margin-left: 0px;
}

/*Produktvorstellung*/  
.Rahmen{
    margin-left: 50px;
}


.Trennstrich{
    width: 400px;
}
#Warenkorb1 {
    padding: 20px;
    width: 70%;
    color: white;
    background-color: rgb(243, 122, 31);
    font-size: 20px;
    border: none;
}
.Slider{
    width: 50%;
    height: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
}

table{
    max-width: 100%;
}
#Produktslider{
    display: flex;
    flex-direction: row;
}
.Text{
    padding-top: 50px;
    padding-left: 75px;
}

/*Technische Details*/  
#TechnischeDetails{
    margin-left: 50px;
    width: 92%;
}
#TechnischeDetails td{
    width: 50%;
}
#TechnischeDetails table{
    border: none;
}
#TechnischeDetails td p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Grau{
    background-color: rgb(237, 237, 237);
}

/*Eigenschaften*/  

.Eigenschaften{
    width: 90%;
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
}


.SliderEigenschaftenText{

    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
}

#EigenschaftenDiv{
    display: flex;
    flex-direction: row; 
}



/*Banner*/  
#Banner{
    padding-top: 100px;
}
#Banner td{
    text-align: center;
    color: white;
    font-size: larger;
    width: 1350px;
    background-color: rgb(243, 122, 31);
    padding-top: 50px;
    padding-bottom: 50px;
}
#Warenkorb2 {
    padding: 20px;
    width: 400px;
    color:rgb(243, 122, 31) ;
    background-color: white;
    font-size: 20px;
    border: none;
}

/*Warum Stihl*/  
.WarumStihl{
    width: 100%;
    
}
.WarumStihl td{
    width: 30%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.Icon{
    width: 35%;
    align-items: center;
    padding-bottom: 120px; 
    
}
.Icon:hover{
    transform: scale(1.5);
}

.Fett{
    font-size: 25px;
   
}

/*Schlussbild*/  
#Schluss{
    width: 100%;
}

/*Footer*/  
.Footer{
    width: 100%;
    height: 100px;
}
.Footer td{
    width: 20%;
    text-align: center;
   
}


/*RESPONSIVE DESIGN*/

/*Smartphones*/
@media only screen and (min-width: 480px) {
   
}

/*Tablets*/  
@media only screen and (min-width: 768px) {
    
}

/*Desktop*/   
@media only screen and (min-width: 1280px) {
    
}